@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --white: #FFFFFF;
    --blue: #01ACFD;
    --blue1: #05D4DF;
    --blue2: #5D58EF;
    --orange: #FEA301;
    --black: #111111;
    --black2: #808080;
    --green: #95B226;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0 auto;
    font-family: "Quicksand", serif;

}

.site-width {
    margin: 0 auto;
    width: 1160px;
}


/* header area */
.logo-area {
    display: flex;
    align-items: center;

}

.logo-area>h1 {
    padding-left: 15px;
}

.btn-primary {
    color: var(--white);
    font-family: Quicksand;
    font-size: 1em;
    font-weight: 600;
    border-radius: 12px;
    background: var(--orange);
    padding: 0px 50px;
    height: 50px;

    border: none;
}
.btn-primary:hover{
    background: rgb(145, 84, 19)

}

.nav-area {
    margin: 0 auto;
    width: 1160px;
    padding: 20px 0px;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.menus {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 30px;
}

.menus>li {
    list-style-type: none;
}

.menus>li>a {
    text-decoration: none;
}

.menu1 {
    color: var(--orange);
    font-weight: 700;
}

.menu2 {
    color: var(--blue);
    font-weight: 700;
}

.menu3 {
    color: var(--blue1);
    font-weight: 700;
}

.menu4 {
    color: var(--blue2);
    font-weight: 700;
}


#burger-icon {
    display: none;
    font-size: 2em;
}

.nav-ending {
    display: none;
}

/* banner-area */
.banner-area {


    padding: 20px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner{
    color: var(--black1);
}
.banner-content {
    
    gap: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;

}
.banner-content span:first-child{
    color: var(--orange);
}
.banner-content span:last-child{
    color: var(--blue);
}

.banner-img {
    display: block;
    text-align: right;
    width: 50%;
}

.banner-img>img {

    width: 90%;
}

.banner-h1 {
    font-size: 56px;
}

.banner-btn {
    color: var(--white);
    font-family: Quicksand;
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 12px;
    background: var(--black);

    height: 50px;
    width: 200px;
    border: none;
}
.banner-btn:hover{
    background: var(--black2);
}

.view-all-btn {
    margin: 30px 0px;
}

/* Curriculum section */
.c-p{
    color: var(--black2);
}
.stories-section {
    background: url(../assets/bg.png), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
}

.curriculum-section {
    background: url(../assets/bg.png);
}

.curriculum-area {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.curriculum-area>h1 {
    font-size: 3.5em;
    padding: 60px 0 80px 0;
}

.all-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-content: space-between;
    text-align: center;
    gap: 40px;

}

.card-bg {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 30px 0;



}

.card-bg>img {
    margin: 0 auto;
    width: 150px;
    display: flex;


}

.c-card-3 {
    padding: 50px 40px;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.c-card-2 {

    padding: 50px 40px;
    border: 1px solid rgb(254, 162, 1, .2);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);

}

.c-card-1 {
    padding: 50px 40px;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.c-btn-one {
    color: var(--blue);
}

.c-btn-two {
    color: var(--orange);
}

.c-btn-three {
    color: var(--blue2);
}


.aaa {
    margin: 20px;
}

/* arrow sign */
.left-para{
    color: var(--black);
    padding: 0px 20px;
}
.smallar {
    transform: scaleX(-1)
}
.left-stories{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.arrow {
    color: var(--white);

    display: flex;
    align-items: center;
    border-radius: 100px;
    /* font-size: 2em; */

    margin: 10px;
    padding: 15px 18px;
    background-color: orange;
}


/* arrow sign end */

/* OUR STORIES SECTION  */
.stories-section {
    margin: 0 auto;
}

.stories-part {

    text-align: center;
    width: 100%;
}

.stories-part>h1 {
    font-size: 3.5em;
    padding: 30px 0px;
}

.stories-all-cards {
    margin: 0 auto;
    width: calc(100%-30px);
    border-radius: 16px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);



}

.stories-all-cards img {
    border-radius: 16px 16px 0 0;
}


.cards-left {
    width: calc(50%-20px);
    background-color: white;
    display: grid;
    border-radius: 16px;




}

.cards-right {
    margin: 0 auto;
    width: calc(50%-40px);
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;

}

.cards-left>img {
    width: 100%;
}

.right-common {
    width: 100%;
    padding-bottom: 20px;
    border-radius: 16px;
    background: var(--white);
}

.right-common>img {
    width: 100%;
}

.card-content-1 {
    padding: 0px 40px;
}

.card-content-2 {
    padding: 0px 20px;
}

.left-card-img {
    position: relative
}

.btn-sec {
    position: relative;
    top: -5.2em;
    background: var(--blue2);
    color: var(--white);
    font-family: Quicksand;
    font-size: 1em;
    font-weight: 600;
    border-radius: 25px;
    

    padding: 10px 40px;

    border: none;
}
.btn-sec:hover{
    background: var(--blue1);
}

.btn-third {
    position: relative;
    top: -1.8rem;
    color: var(--white);
    font-family: Quicksand;
    font-size: 1em;
    font-weight: 600;
    border-radius: 25px;
    background: var(--blue1);

    padding: 10px 40px;

    border: none;
}

/* footer area */
.footer-area {

    background-color: var(--blue);
}

.footer-logo-part {
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    padding-bottom: 40px;


}

.footer-logo-part>img {
    width: 75px;
}

.footer-left h1,p {

    color: var(--white);

}

.footer-contents {


    margin: 0 auto;
    width: 1160px;
    display: grid;
    padding: 150px 0px;
    grid-template-columns: repeat(2, 1fr);


}

.footer-left {
    width: 60%;


}

.footer-right-1>h4,
.footer-right-2>h4 {
    color: var(--white);
    padding-bottom: 20px;
}

.footer-right-1>ul>li {
    color: var(--white);
    list-style-type: none;
    padding-bottom: 20px;
}

.footer-right-1>ul>li>a {
    color: var(--white);
    text-decoration: none;

}

.footer-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: ends;
}

.footer-icon>img {
    width: 30px;
}



@media screen and (max-width: 576px) {

    .allover {
        margin: 0;
        padding: 0;
    }

    .nav-area {

        width: 100%;
        display: flex;
        justify-content: space-between;

    }

    .menus,
    .btn-primary {
        display: none;
    }

    #burger-icon {
        margin: 0px;
        padding-right: 20px;
        text-align: right;
        font-size: 30px;
        width: 50%;
        display: block;
    }

    .logo-area {
        padding: 0px;
        margin: 0px;
        width: 50%;
        text-align: left;

    }

    .logo-area>img {
        margin: 0px;
        width: 40px;
        padding-left: 20px;
    }


    .logo-area>h1 {
        display: none;
    }

    .nav-ending {
        display: block;
        border-top: 1px solid var(--orange);

    }

    .banner-area {

        margin: 0px;
        width: calc(100% - 2em);
        flex-direction: column-reverse;
    }

    .banner-content {
        margin: 0px;
        padding: 0px;
        text-align: center;
        width: 100%;
    }

    .banner-img {
        width: 100%;

    }

    .banner-img>img {
        display: block;
        margin: 0 auto;


    }

    .banner-btn {
        margin: 0 auto;
        padding: 0px;

    }

    /* Curriculum section */
    .curriculum-area {
        margin: 0 auto;
    }

    .all-cards {
        text-align: center;
        width: 100%;
        grid-template-columns: auto;

    }

    .site-width {
        width: 100%;
    }



    .curriculum-area {

        display: flex;
        width: 100%;


    }

    .curriculum-area>h1 {
        text-align: center;
        padding: 50px 0px 30px 0px;
    }

    /* stories */

    .stories-section {
        background: url(image), linear-gradient(180.00deg, rgba(255, 255, 255, 0), rgba(254, 163, 1, 0.3) 100%);


    }

    .stories-all-cards {
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .cards-left {
        display: none;

    }
    .left-para{
        color: black;
    }

    .btn-third {
        font-size: .8em;
        top: -1.2rem;
        padding: 5px 10px;
    }



    .stories-part>h1 {
        font-size: 3.5em;
        padding: 30px 0px;
    }

    .view-all-btn {
        margin: 30px 0px;
    }

    /* footer section */

    .footer-contents {
        margin: 0 auto;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: auto;
        gap : 40px
        
    }
   
    .footer-right, .footer-left{
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        width: 80%;
    }

}